# Folder yang tidak perlu diupload
node_modules
dist
.output
.vercel
.netlify

# File rahasia (JANGAN PERNAH UPLOAD INI)
.env
.env.*
!.env.example

# File sistem macOS (sampah)
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
