---
---
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js" is:inline></script>

<div id="search" class="w-full"></div>

<script is:inline>
  new PagefindUI({ element: "#search", showSubResults: true });
</script>