---
import AdSlot from './AdSlot.astro';

interface Props {
  popularPosts: any[];
}

const { popularPosts } = Astro.props;
---

<aside class="w-full">
  <div class="lg:sticky lg:top-24 space-y-8">
    
    {popularPosts && popularPosts.length > 0 && (
      <div class="bg-stone-50 p-6 rounded-xl border border-stone-200">
        <h3 class="font-bold text-stone-800 mb-4 border-b border-stone-200 pb-2">
          Artikel Populer
        </h3>
        <ul class="space-y-4">
          {popularPosts.map(p => (
            <li>
              <a href={`/info-asn/${p.id}`} class="block px-3 py-2 rounded-lg transition-all duration-300 group hover:bg-stone-200/50 hover:backdrop-blur-sm">
                <h4 class="text-sm font-semibold text-stone-800 text-left">
                  {p.data.title}
                </h4>
              </a>
            </li>
          ))}
        </ul>
      </div>
    )}
    
    <AdSlot className="h-[400px]" />

  </div>
</aside>